@import "_css/variables"
@import "_css/board"
@import "_css/controls"

@font-face {
  font-family: 'pgn4web ChessSansUsual';
  src: url('chessfonts/ChessSansUsual.eot');
  src: url('chessfonts/ChessSansUsual.woff') format('woff'), url('chessfonts/ChessSansUsual.ttf') format('truetype'), url('chessfonts/ChessSansUsual.svg#ChessSansUsual') format('svg');
}
