mixin makeTable(id)
  table(id=id)
    each number in ["8","7","6","5","4","3","2","1"]
      tr(class=number)
        each letter in ["a","b","c","d","e","f","g","h"]
          td(class=letter)
            div
            input(type='hidden' class="white")
            input(type='hidden' class="black")

+makeTable('board')
+makeTable('colors')
+makeTable('pieces')

#controls-wrapper
  #controls
    div.form-group
      label(for="FEN") FEN
      input.form-control(id="FEN" type='text' placeholder="Load FEN")
    button.btn.btn-default(id="back")
      span.glyphicon.glyphicon-chevron-left
    button.btn.btn-default(id="forward")
      span.glyphicon.glyphicon-chevron-right
    button.btn(id="reset") Reset
    div.checkbox
      input(type="checkbox" id="white_influence" checked) 
      label(for="white_influence") White's influence
    div.checkbox
      input(type="checkbox" id="black_influence" checked)
      label(for="black_influence") Black's influence
    div.checkbox
      input(type="checkbox" id="highlight_unprotected" checked)
      label(for="highlight_unprotected") Highlight unprotected pieces
  #credits
    p 
      a(href="https://github.com/Sakisan/AugmentedChess") github