mixin makeTable(id)
  table(id=id)
    each number in ["8","7","6","5","4","3","2","1"]
      tr(class=number)
        each letter in ["a","b","c","d","e","f","g","h"]
          td(class=letter)
            div
            input(type='hidden' class="white")
            input(type='hidden' class="black")

+makeTable('board')
+makeTable('colors')
+makeTable('pieces')

#controls-wrapper
  #controls
    input.form-control(id="FEN" type='text' placeholder="Load FEN")