mixin makeTable(id)
  table(id=id)
    each number in ["8","7","6","5","4","3","2","1"]
      tr(class=number)
        each letter in ["a","b","c","d","e","f","g","h"]
          td(class=letter)
            div
            input(type='hidden' class="white")
            input(type='hidden' class="black")

+makeTable('board')
+makeTable('colors')
+makeTable('pieces')

#controls-wrapper
  #controls.container
    .form-group
      label(for="FEN") FEN
      input.form-control(id="FEN" type='text' placeholder="Load FEN")
    .form-group
      button.btn.btn-default(id="reset") Reset 
        span.glyphicon.glyphicon-step-backward
      button.btn.btn-default(id="back")
        span.glyphicon.glyphicon-chevron-left
      button.btn.btn-default(id="forward")
        span.glyphicon.glyphicon-chevron-right
      button.btn.btn-default(id="save") Save
      input.form-control(id="save_name" value="position 0")
    .checkbox
      input(type="checkbox" id="white_influence") 
      label(for="white_influence") White's influence
    .checkbox
      input(type="checkbox" id="black_influence")
      label(for="black_influence") Black's influence
    .checkbox
      input(type="checkbox" id="highlight_unprotected")
      label(for="highlight_unprotected") Unprotected pieces
    .checkbox
      input(type="checkbox" id="highlight_pinned")
      label(for="highlight_pinned") Pinned pieces
    .checkbox
      input(type="checkbox" id="highlight_checks")
      label(for="highlight_checks") Checks
    #saved
      p
        label Your saved FEN
      
  #credits
    p 
      a(href="https://github.com/Sakisan/AugmentedChess") github