
table
  height 100%
  position absolute
  top 0
  left 0

table#colors
  opacity $colorsOpacity

td
  border $borderWidth solid $borderColor
  text-align center

#board .lightsquare
  background $light

#board .darksquare
  background-image url("../img/marble2.png")
  background-size 100%

#colors td
  background-color $light

#colors .white1
  background-color lighten($white, $one)

#colors .white2
  background-color lighten($white, $two)

#colors .white3
  background-color lighten($white, $three)

#colors .black1
  background-color lighten($black, $one)

#colors .black2
  background-color lighten($black, $two)

#colors .black3
  background-color lighten($black, $three)

#colors .unprotected
  background-color $unprotected

#colors .threat
  background-color $threat

#colors .threat.check
  background-color $check

#pieces .black
  color $blackPiece

#pieces .white
  color $whitePiece

#pieces .darksquare.bishop
  text-decoration underline

#pieces .pinned
  background-image url("../img/pinned.png")
  background-size 100%

#pieces .moving
  color red

#pieces
  font-family: 'pgn4web ChessSansUsual','pgn4web Liberation Sans',sans-serif;
  font-size 8vh

#pieces td div
  width 0
  height 0
  margin -36% 0 0 18%

#pieces .pawn .piece:before
  content: 'p'

#pieces .rook .piece:before
  content: 'R'

#pieces .knight .piece:before
  content: 'N'

#pieces .bishop .piece:before
  content: 'B'

#pieces .queen .piece:before
  content: 'Q'

#pieces .king .piece:before
  content: 'K'
