#controls-wrapper
  position absolute 
  height 95vh
  left 100vh
  padding 10px 50px

#controls 
  width 400px
  height 90%
  overflow-y auto

  .btn
    margin-right 10px

#credits
  position absolute
  bottom 0
  text-align center