#controls-wrapper
  position absolute 
  height 95vh
  left 100vh
  padding 10px 30px

#controls 
  width 440px
  height 90%
  overflow-y auto

  .btn
    margin-right 10px

  #save_name
    width 150px
    display inline-block

  a 
    margin-right 10px

#credits
  position absolute
  bottom 0
  text-align center