$dark = #666;
$light = #fff;

$white = darken(#FFAA00,20%);
$black = darken(#1240AB,20%);
$neutral = $FFFFFF;
$unprotected = lighten(#269926,80%);

$colorsOpacity = 0.5
$one = 70%;
$two = 30%;
$three = 0%;

$blackPiece = darken($black, 20%);
$whitePiece = darken($white, 20%);

$blackPinned = lighten($black, 20%);
$whitePinned = lighten($white, 20%);
