$dark = #666;
$light = #f4f4f4;

$white = #FFAA00;
$black = #1240AB;
$neutral = $FFFFFF;

$colorsOpacity = 0.5
$one = 70%;
$two = 30%;
$three = 0%;

$blackPiece = darken($black, 20%);
$whitePiece = darken($white, 20%);
